body {
    background-color: #522940;
    color: #461832;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

#statistics {
    margin-left: 16px;
    width: 50%;
}

h1 {
    color: #86a686;
    font-weight: 100;
    font-size: 64px;
}

p {
    color: #b8b87d;
    font-size: 32px;
}

td {
    background-color: #acac7c;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    font-size: 64px;
    text-align: center;
}
  
td:hover {
    background: #638963;
}
  
table {
    display: inline-block;
    margin: 16px;
    width: 50%;
    align-self: center;
}

#jogo {
    position: relative;
    display: flex;
    
}

#reset {
    display: flex;
    width: 300px;
    height: 120px;
    background-color: #acac7c;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
#texto {
    color: #461832;
}

@media (max-width: 1195px) {
    #jogo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #statistics {
        width: 100%;
    }

    table {
        width: 100%;
    }

    td {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 360px) {
    td {
        width: 100px;
        height: 100px;
    }
    
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 26px;
    }

    #reset {
        width: 200px;
        height: 40px;
    }
}